<h1>Purchase Files</h1>

<p>
  <%= link_to 'New Purchase file', new_purchase_file_path %>
</p>

<% if @purchase_files.present? %>
<table>
  <tr>
    <th>Name</th>
    <th>Uploaded At</th>
  </tr>

<% @purchase_files.each do |purchase_file| %>
  <tr>
    <td><%= link_to purchase_file.name, purchase_file %></td>
    <td><%= purchase_file.created_at %></td>
  </tr>
<% end %>
</table>
<% else %>
  <p>
    No purchase files uploaded
  </p>
<% end %>
